#header{
}

#navBar{
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: orange;
  border: 1px solid black;
}

#navBrand{
  display: flex;
  justify-content: space-between;
}

#navBrand img{
  width: 150px;
  height: 150px;
  padding: 20px;
  margin-left: 8px;
  border: 20px solid black;
  background-color: ghostwhite;
}

#nameDiv{
  padding-left: 10px;
}

.brand{
  font-size: 48px;
  line-height: 50px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

#navLinks{
  display: flex;
}

.nav-link{
  padding: 30px;
  font-size: 40px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  transition: 0.2s;
}

.nav-link:hover{
  color: red;
}

.nav-link:active{
  color: black;
}

#libraryDiv{
  position: relative;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

#libraryPic{
  width: 1400px;
  height: 125px;
  object-fit: fill;
  opacity: 0.6;
  background-image: linear-gradient(to right, black, rgb(189, 189, 189, 0), black);
}

h2{
  position: absolute;
  top: 0;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: lightgray 3px 3px 6px;
  width: 850px;
  text-align: center;
}

#addBookButton{
  position: absolute;
  font-family: cursive;
  font-size: 20px;
  bottom: 10px;
  color: black;
  background-color: red;
  border: 2px solid black;
  transition: 0.2s;
}

#addBookButton:hover{
  background-color: yellow;
}

#addBookButton:active{
  background-color: red;
}

#main{
  background-color: black;
}

.carousel{
  width: 1290px;
  margin: 0 auto;
}

.descriptionDiv{
  background-color: white;
  border: 3px solid black;
}

.bookTitle{
  font-size: 30px;
  line-height: 30px;
  padding: 5px;
  margin: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.bookDescription{
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  margin: 0;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.bookModifyDiv{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 50%;
}

.bookHeart{
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.bookHeart:hover{
  border: 3px solid red;
  border-radius: 5px;
}

.bookHeart:active{
  border: 3px solid black;
  border-radius: 5px;
}

.button{
  color: black;
  background-color: red;
  border: 2px solid black;
  font-family: cursive;
  font-size: 20px;
  transition: 0.2s;
}

.button:hover{
  color: black;
  background-color: yellow;
  border: 2px solid black;
}

.button:active{
  color: black;
  background-color: red;
  border: 2px solid black;
}

#aboutUs{
  width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(grey, white, grey);
}

.individual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.aboutUsPic{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 50%;
}

h5{
  font-size: 60px;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  padding: 0 20px;
}

.individual p{
  font-size: 20px;
  padding: 20px;
}

#line{
  width: 1300px;
  margin: 0 auto;
  height: 2px;
  background-image: linear-gradient(to right, rgb(189, 189, 189, 0), black, rgb(189, 189, 189, 0));
}

#footer{
  width: 1400px;
  margin: 0 auto;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

#footerBrand{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
