#header{
}

#navBar{
  width: 1400px;
  margin: 0 auto ;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-image: linear-gradient(to right, rgb(109, 138, 245), cyan, rgb(109, 138, 245));
  border: 1px solid black;
  border-bottom: none;
}

#navBrand{
  display: flex;
  justify-content: space-between;
}

#navBrand img{
  width: 150px;
  height: 150px;
  padding: 20px;
  margin-left: 8px;
  border: 20px solid black;
  background-color: rgb(255, 208, 0);
}

#nameDiv{
  padding-left: 10px;
}

.brand{
  font-size: 48px;
  line-height: 50px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

#navLinks{
  display: flex;
}

.nav-link{
  padding: 30px;
  font-size: 40px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  transition: 0.2s;
}

.nav-link:hover{
  color: red;
}

.nav-link:active{
  color: black;
}

#libraryDiv{
  position: relative;
  width: 1400px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-top: none;
  background-image: linear-gradient(to right, rgb(109, 138, 245), cyan, rgb(109, 138, 245));
}

#addBookButton{
  position: absolute;
  font-family: cursive;
  font-size: 40px;
  padding: 0 50px;
  bottom: 10px;
  color: black;
  background-color: rgb(255, 208, 0);
  border: 2px solid black;
  transition: 0.2s;
}

#addBookButton:hover{
  color: red;
  border: 2px solid red;
}

#addBookButton:active{
  background-color: rgb(255, 208, 0);
  color: black;
  border: 2px solid black;
}

#main{
  background-color: black;
}

.carousel{
  width: 1290px;
  margin: 0 auto;
}

.descriptionDiv{
  background-image: linear-gradient(to right, rgb(211, 211, 211), white, rgb(211, 211, 211));
  border: 3px solid black;
}

.bookTitle{
  font-size: 30px;
  line-height: 30px;
  padding: 5px;
  margin: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.bookDescription{
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  margin: 0;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.bookModifyDiv{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 50%;
}

.bookHeart{
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.bookHeart:hover{
  border: 3px solid red;
  border-radius: 5px;
}

.bookHeart:active{
  border: 3px solid black;
  border-radius: 5px;
}

.button{
  color: black;
  background-color: rgb(255, 208, 0);
  border: 2px solid black;
  font-family: cursive;
  font-size: 20px;
  transition: 0.2s;
}

.button:hover{
  color: red;
  border: 2px solid red;
  background-color: rgb(255, 208, 0);
}

.button:active{
  color: black;
  border: 2px solid black;
  background-color: rgb(255, 208, 0);
}

#aboutUs{
  width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(lightgrey, white, lightgrey);
  border: 1px solid black;
}

.individual{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.aboutUsPic{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 50%;
}

h5{
  font-size: 60px;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  padding: 0 20px;
}

.individual p{
  font-size: 20px;
  padding: 20px;
}

.line{
  width: 1300px;
  margin: 0 auto;
  height: 2px;
  background-image: linear-gradient(to right, rgb(189, 189, 189, 0), black, rgb(189, 189, 189, 0));
}

.line2{
  width: 1400px;
  margin: 0 auto;
  height: 2px;
  background-image: linear-gradient(to right, rgb(109, 138, 245), black, rgb(109, 138, 245));
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#footer{
  width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgb(109, 138, 245), cyan, rgb(109, 138, 245));
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

#footerBrand{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
